:root {
	/**
	--server-list-bg-color: #6c64ff;
	--user-list-bg-color: #afa;
	--chatlog-bg-color: #aaf;
	--textarea-bg-color: #faa;
	--chatlog-color: #111;
	--server-list-bg-color: #202225;
	--user-list-bg-color: #2f3136;
	--chatlog-bg-color: #36393f;
	--textarea-bg-color: #40444b;
	--chatlog-color: #dcddde;

	--dark-color: #fff;
	--dark-bg-color: #666666;
	--darker-bg-color: #444;
	/**
	--server-list-bg-color: var(--darker-bg-color);
	--user-list-bg-color: var(--darker-bg-color);
	--chatlog-bg-color: var(--dark-bg-color);
	--chatlog-color: var(--dark-color);
	--textarea-bg-color: var(--darker-bg-color);

	--dark-bg-color: #36393f;
	--darker-bg-color: #2f3136;
	/* */

	--server-list-bg-color: #202225;
	--user-list-bg-color: #2f3136;
	--chatlog-bg-color: #36393f;
	--textarea-bg-color: #40444b;
	--chatlog-color: #dcddde;

	--dark-color: #fff;
	--dark-bg-color: #36393f;
	--darker-bg-color: #2f3136;
}
/* App Layout*/
.appLayout {
	height: 100vh;
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: row;
}
.appLayout > .leftSidebar {
	padding: 0;
	margin: 0;
	display: flex;
	min-width: 18em;
	max-width: 18em;
	flex-direction: column;
}

.appLayout > .leftSidebar > .top {
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: row;
	flex-grow: 1;
}

/* Server List */
.serverList {
	background-color: var(--server-list-bg-color);
}
.serverList > div {
	position:relative;
}
.test {
	color: #ffaaaa;
}
.serverList .serverIcon {
	margin: 0.2rem 0.4rem;
	padding-top: 0.4rem;
}
.serverIcon {
	position:relative;
	width: fit-content;
	display: flex;
}
.serverIcon img {
	border-radius: 9999px;
	width: 2.5rem;
	height: 2.5rem;
}
.serverIcon span {
	box-sizing: border-box;
	border: 0 solid #e5e7eb;
	--tw-bg-opacity: 1;
	background-color: rgb(49 196 141 / var(--tw-bg-opacity));
	--tw-border-opacity: 1;
	border-color: rgb(31 41 55/var(--tw-border-opacity));
	border-radius: 9999px;
	border-width: 2px;
	width: .875rem;
	height: .875rem;
	right: -.05rem;
	bottom: -.05rem;
	position: absolute;
}
.serverTooltip {
	visibility: hidden;
	position:absolute;
	top: 50%;
	left: 3.6rem;
}
.serverTooltip .text {
	width: max-content;
	background-color: black;
	color: #fff;
	text-align: center;
	padding: 8px 10px;
	border-radius: 6px;
	position:relative;
	margin-top: -10%;
	z-index: 1;
}
.serverTooltip .text::after {
	content: " ";
	position: absolute;
	top: 50%;
	right: 100%;
	margin-top: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: transparent black transparent transparent;
}
.serverIcon:hover + .serverTooltip {
	visibility: visible;
}
/* Chat Area */
/*
.blue { background-color: #aaf;}
.red { background-color: #faa;}
*/
.userPFP img {
	border-radius: 9999px;
	width: 2.5rem;
	height: 2.5rem;
}
.userListParent {
	min-width: 14em;
	width: 14em;
	height: 100%;
	background-color: var(--user-list-bg-color);
}
.userList .userListEntry:first-child {
	margin-top: 1rem;
}
.userList .userListEntry:last {
	margin-top: 2rem;
}
.userList .userListEntry {
	display: flex;
	align-items: center;
	margin: 0.2rem 1rem;
	user-select: none;
	color: color-mix(in srgb, var(--chatlog-color) 90%, black 35%);
}
.userListEntry:hover {
	background-color: rgba(255,255,255,0.2);
	border-radius: 2px;
	cursor: pointer;
}
.userListEntry .username {
	padding-left: 0.4rem;
}
.chatBox {
	display: flex;
	height: 100%;
	width: 100%;
	flex-direction: column;
	background-color: var(--chatlog-bg-color);
	color: var(--chatlog-color);
}
.chatArea {
	flex-grow: 1;
	overflow-y: auto;
}
/* ===== Scrollbar CSS ===== */
  /* Firefox */
  .chatArea {
    scrollbar-width: auto;
    scrollbar-color: #8f54a0 var(--chatlog-bg-color);
  }

  /* Chrome, Edge, and Safari */
  .chatArea::-webkit-scrollbar {
    width: 16px;
  }

  .chatArea::-webkit-scrollbar-track {
    background: var(--chatlog-bg-color);
  }

  .chatArea::-webkit-scrollbar-thumb {
    background-color: #8f54a0;
    border-radius: 10px;
    border: 3px solid var(--chatlog-bg-color);
  }

.username {
	max-width: 40dvw;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.textbox {
	box-sizing: border-box;
	height: 4rem;
	width: 100%;
	margin: 0;
	padding: 10px;
	border: 0;
	border-top: 1px solid #ccc;
	outline: none;
	resize: none;
	display:flex;
	background-color: var(--textarea-bg-color);
}
.textbox textarea {
	box-sizing: border-box;
	height: 100%;
	flex-grow: 1;
	margin: 0;
	padding: 0;
	border: 0;
	outline: none;
	resize: none;
	background-color: rgb(from var(--textarea-bg-color) calc(r + 20) calc(g + 20) calc(b + 20));
	border-top-left-radius: 6px;
	border-bottom-left-radius: 6px;
	padding: 12px;
	color: var(--text-color);
}
.textbox button {
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;
	background-color: rgb(from var(--textarea-bg-color) calc(r + 20) calc(g + 20) calc(b + 20));
	--text-color: rgb(from var(--text-color) calc(r - 80) calc(g - 80) calc(b - 80));
	border-width: 0px;
	color: var(--text-color);
	font-weight: bold;
}

.subList {
	flex-grow: 1;
	background-color: rgb(from var(--textarea-bg-color) calc(r + 20) calc(g + 20) calc(b + 20));
	display: flex;
	flex-direction: column;
}
.myUserInfo {
	height: fit-content;
	background-color: var(--server-list-bg-color);
}
.userList .systemEntry:first-child {
	margin-top: 1rem;
}
.userList .systemEntry {
	display: flex;
	align-items: center;
	margin: 0.1rem 0rem;
	user-select: none;
	color: var(--chatlog-color);
	font-size: 1.2em;
	padding: 0.4rem 1rem;
}
.systemEntry:hover {
	background-color: rgba(255,255,255,0.2);
	border-radius: 2px;
	cursor: pointer;
}
