@media (prefers-color-scheme: dark) {
	.dark\: {
		&bg-stone {
      &-50 {
        background-color: #fafaf9;
      }
      &-100 {
        background-color: #f5f5f4;
      }
      &-200 {
        background-color: #e7e5e4;
      }
      &-300 {
        background-color: #d6d3d1;
      }
      &-400 {
        background-color: #a8a29e;
      }
      &-500 {
        background-color: #78716c;
      }
      &-600 {
        background-color: #57534e;
      }
      &-700 {
        background-color: #44403c;
      }
      &-800 {
        background-color: #292524;
      }
      &-900 {
        background-color: #1c1917;
      }
      &-950 {
        background-color: #0c0a09;
      }
    }
	}
}

